[Desktop Entry]
Type=Application
Name=pewpew Orbital Command
Comment=Fullscreen kiosk for the network visualizer
Exec=chromium-browser --kiosk --noerrdialogs --disable-infobars --autoplay-policy=no-user-gesture-required http://localhost:8080
X-GNOME-Autostart-enabled=true
